<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.winter.model.Area" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="sdd" property="sdd" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.winter.model.Area" >
    insert into t_area (id, sdd)
    values (#{id,jdbcType=INTEGER}, #{sdd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.winter.model.Area" >
    insert into t_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sdd != null" >
        sdd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sdd != null" >
        #{sdd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>