<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.MerchantMapper">

    <select id="selectNearMerchant" resultType="com.winter.model.MerchantInfo">
        SELECT id,shopName,shopIco,addrDetail,address,
		(
			6371 * acos (
				cos ( radians( #{latitude} ) ) * cos( radians( latitude ) ) * cos( radians( longitude ) - radians( #{longitude} ) ) + sin ( radians( #{latitude} ) ) * sin( radians( latitude ) )
			)
		)*1000
		AS
			distance
		FROM
			merchant_info HAVING  <![CDATA[ distance<100000 ]]>
    </select>

</mapper>