<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.winter.model.User">
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId, userName, password, phone
    </sql>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where userId = #{userId}
    </select>

    <select id="selectAllUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_user where userId = #{userId}
    </delete>


    <insert id="insert" parameterType="com.winter.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (userId, userName, password,phone)
        values (#{userId}, #{userName}, #{password},#{phone})
    </insert>


    <insert id="insertSelective" parameterType="com.winter.model.User" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="userName != null">
                userName,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.winter.model.User">
        update t_user
        <set>
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        where userId = #{userId}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.winter.model.User">
        update t_user
        set userName = #{userName},
          password = #{password},
          phone = #{phone}
        where userId = #{userId}
    </update>

</mapper>